@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~swiper/css';
@import '~swiper/css/pagination';
@import '~swiper/css/navigation';

.content-container {
  min-height: calc(100vh - 96px - 694px);
}

iframe {
  width: 100%;
  height: 100%;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slider-nav {
  background: white;
  border-radius: 50%;
  padding: 14px;
  cursor: pointer;
  width: fit-content;
  z-index: 1;
  top: 30%;
  transform: translate(0, -50%);
}

.swiper-button-disabled {
  background: #d0d5dd;
  cursor: no-drop;
}

.swiper-button-disabled svg {
  opacity: 0.5;
}

.nav_item:hover .sub_nav_header {
  /* transform: translateX(0); */
  display: block;
}

.sub_nav_header {
  display: none;
  height: 0;
  transition: all 0.3s ease;
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
  height: fit-content;
}

.sub_nav_header::before {
  content: '';
  position: absolute;
  top: -15px;
  right: 0;
  left: 0;
  height: 30px;
  width: 100%;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
